go 1.20

use (
	./buffered
	./directional
	./extra/contexts
	./extra/mutexlock
	./extra/racedetector
	./extra/synconce
	./orders
	./patterns/encapsulation-goroutines
	./patterns/nonblocking-error-channel
)
